body{
  background: #141414;
  color: #ffffff;
}

/* Allows to scroll horizontally to see the movies */
.movie-app > .row{
  overflow-x: auto;
  flex-wrap: nowrap;
}

/* fixes width taken by row to allow all movies in same row */
.row>*{
  width: auto;
}